.elementor-2390 .elementor-element.elementor-element-8c0990f {
    padding: 100px 0px 0px 0px;
}

.elementor-2390 .elementor-element.elementor-element-a4b5652 {
    text-align: left;
}

@media(max-width:767px) {
    .elementor-2390 .elementor-element.elementor-element-0952e7c {
        width: 100%;
    }
}

@media(min-width:768px) {
    .elementor-2390 .elementor-element.elementor-element-0952e7c {
        width: 65%;
    }
    .elementor-2390 .elementor-element.elementor-element-55b2b4a {
        width: 35%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2390 .elementor-element.elementor-element-0952e7c {
        width: 100%;
    }
    .elementor-2390 .elementor-element.elementor-element-55b2b4a {
        width: 100%;
    }
}