.elementor-2780 .elementor-element.elementor-element-3225058>.elementor-container {
    max-width: 1320px;
}

.elementor-2780 .elementor-element.elementor-element-3225058 {
    margin-top: -120px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-376bf174>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2780 .elementor-element.elementor-element-376bf174 {
    padding: 100px 0px 100px 0px;
}

.elementor-2780 .elementor-element.elementor-element-52045481 .bdevs-el-title {
    color: #000000;
}

.elementor-2780 .elementor-element.elementor-element-52045481 {
    text-align: center;
}

.elementor-2780 .elementor-element.elementor-element-3daf01a .bdevs-el-title {
    color: #000000;
}

.elementor-2780 .elementor-element.elementor-element-3daf01a {
    text-align: center;
}

.elementor-2780 .elementor-element.elementor-element-23d3f12f {
    padding: 35px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 16px 0px 0px;
    --e-column-margin-right: 16px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-7634e41b:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 8px 0px 8px;
    --e-column-margin-right: 8px;
    --e-column-margin-left: 8px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-7eced9ce:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 0px 0px 16px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 16px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-68c9f8db:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-50ea3d4 {
    padding: 35px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 16px 0px 0px;
    --e-column-margin-right: 16px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-9ae35e2:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 8px 0px 8px;
    --e-column-margin-right: 8px;
    --e-column-margin-left: 8px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-a8d2a62:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 0px 0px 16px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 16px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-c597afb:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-067ac65 {
    padding: 35px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 16px 0px 0px;
    --e-column-margin-right: 16px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-6706ee7:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 8px 0px 8px;
    --e-column-margin-right: 8px;
    --e-column-margin-left: 8px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-a9c2786:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 0px 0px 16px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 16px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-2d72b5f:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-1c2bbea {
    padding: 35px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 16px 0px 0px;
    --e-column-margin-right: 16px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-3f24956:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 8px 0px 8px;
    --e-column-margin-right: 8px;
    --e-column-margin-left: 8px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-dc4acf4:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

.elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-element-populated,
.elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-element-populated>.elementor-background-overlay,
.elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 0px 0px 16px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 16px;
    padding: 35px 35px 35px 35px;
}

.elementor-2780 .elementor-element.elementor-element-cbd14b2:hover>.elementor-element-populated {
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.31);
}

.elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-wrapper {
    text-align: left;
}

.elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-name {
    color: #000000;
    font-size: 20px;
}

.elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-job {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
}

@media(max-width:1024px) {
    .elementor-2780 .elementor-element.elementor-element-3225058 {
        margin-top: -130px;
        margin-bottom: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-376bf174 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-2780 .elementor-element.elementor-element-23d3f12f {
        padding: 15px 0px 0px 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-1094951 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-c757fe9 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-62d84ac9 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-50ea3d4 {
        padding: 15px 0px 0px 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-22c7e9d .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-b1bf887 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-ea211d3 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-067ac65 {
        padding: 15px 0px 0px 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-fbf71f3 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-7d39da5 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-7a2b585 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-1c2bbea {
        padding: 15px 0px 0px 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-41684cc .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-8783023 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-ece7e14 .elementor-testimonial-name {
        font-size: 18px;
    }
}

@media(max-width:767px) {
    .elementor-2780 .elementor-element.elementor-element-376bf174 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-2780 .elementor-element.elementor-element-7634e41b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-7eced9ce>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-68c9f8db>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-9ae35e2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-a8d2a62>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-c597afb>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-6706ee7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-a9c2786>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-2d72b5f>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-3f24956>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-dc4acf4>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2780 .elementor-element.elementor-element-cbd14b2>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}